parameters:
    phpVersion: 70200
    level: 6
    paths:
        - src
        - tests
    treatPhpDocTypesAsCertain: false
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        - '#Call to an undefined static method Respect\\Validation\\Validator::numeric\(\).#'
