parameters:
	ignoreErrors:
		-
			message: "#^Parameter \\#4 \\$prev of static method League\\\\OpenAPIValidation\\\\PSR7\\\\Exception\\\\Validation\\\\InvalidCookies\\:\\:becauseValueDoesNotMatchSchema\\(\\) expects League\\\\OpenAPIValidation\\\\Schema\\\\Exception\\\\SchemaMismatch, Throwable\\|null given\\.$#"
			count: 1
			path: src/PSR7/Validators/CookiesValidator/ServerRequestCookieValidator.php

		-
			message: "#^Generator expects value type string, array\\<int, string\\> given\\.$#"
			count: 7
			path: tests/FromCommunity/Issue79Test.php

		-
			message: "#^Method League\\\\OpenAPIValidation\\\\Tests\\\\PSR7\\\\Validators\\\\BodyValidator\\\\MultipartValidatorTest\\:\\:dataProviderMultipartRed\\(\\) should return array\\<array\\<string, string\\>\\> but returns array\\<int, array\\<int, string\\>\\>\\.$#"
			count: 1
			path: tests/PSR7/Validators/BodyValidator/MultipartValidatorTest.php

		-
			message: "#^Method League\\\\OpenAPIValidation\\\\Tests\\\\PSR7\\\\Validators\\\\BodyValidatorTest\\:\\:dataProviderGreen\\(\\) should return array\\<array\\<string, string\\>\\> but returns array\\<int, array\\<int, League\\\\OpenAPIValidation\\\\PSR7\\\\OperationAddress\\|string\\>\\>\\.$#"
			count: 1
			path: tests/PSR7/Validators/BodyValidatorTest.php

		-
			message: "#^Method League\\\\OpenAPIValidation\\\\Tests\\\\PSR7\\\\Validators\\\\BodyValidatorTest\\:\\:dataProviderRed\\(\\) should return array\\<array\\<string, string\\>\\> but returns array\\<int, array\\<int, string\\>\\>\\.$#"
			count: 1
			path: tests/PSR7/Validators/BodyValidatorTest.php

		-
			message: "#^Method League\\\\OpenAPIValidation\\\\Tests\\\\Schema\\\\Keywords\\\\PatternTest\\:\\:validDataProvider\\(\\) should return array\\<array\\<string, string\\>\\> but returns array\\<int, array\\<int, string\\>\\>\\.$#"
			count: 1
			path: tests/Schema/Keywords/PatternTest.php

		-
			message: "#^Method League\\\\OpenAPIValidation\\\\Tests\\\\Schema\\\\Keywords\\\\TypeTest\\:\\:validDataProvider\\(\\) should return array\\<array\\<string, mixed\\>\\> but returns array\\<int, array\\<int, array\\<int\\|string, int\\|string\\>\\|bool\\|float\\|int\\|string\\|null\\>\\>\\.$#"
			count: 1
			path: tests/Schema/Keywords/TypeTest.php

		-
			message: "#^Method League\\\\OpenAPIValidation\\\\Tests\\\\Schema\\\\Keywords\\\\TypeTest\\:\\:invalidDataProvider\\(\\) should return array\\<array\\<string, mixed\\>\\> but returns array\\<int, array\\<int, array\\<int\\|string, int\\>\\|float\\|int\\|stdClass\\|string\\>\\>\\.$#"
			count: 1
			path: tests/Schema/Keywords/TypeTest.php

		-
			message: "#^Method League\\\\OpenAPIValidation\\\\Tests\\\\Schema\\\\Keywords\\\\UniqueItemsTest\\:\\:dataProviderGreen\\(\\) should return array\\<array\\<string, array\\>\\> but returns array\\<int, array\\<int, array\\<int, array\\<int\\|string, array\\<string, int\\>\\|int\\>\\|bool\\|float\\|int\\|string\\>\\|string\\>\\>\\.$#"
			count: 1
			path: tests/Schema/Keywords/UniqueItemsTest.php

		-
			message: "#^Method League\\\\OpenAPIValidation\\\\Tests\\\\Schema\\\\Keywords\\\\UniqueItemsTest\\:\\:dataProviderRed\\(\\) should return array\\<array\\<string, array\\>\\> but returns array\\<int, array\\<int, array\\<int, array\\<int\\|string, array\\<string, int\\>\\|int\\>\\|bool\\|int\\|string\\>\\|string\\>\\>\\.$#"
			count: 1
			path: tests/Schema/Keywords/UniqueItemsTest.php

		-
			message: "#^Method League\\\\OpenAPIValidation\\\\Tests\\\\Schema\\\\TypeFormats\\\\StringDateTimeTest\\:\\:dateTimeGreenDataProvider\\(\\) should return array\\<string\\> but returns array\\<int, array\\<int, string\\>\\>\\.$#"
			count: 1
			path: tests/Schema/TypeFormats/StringDateTimeTest.php

		-
			message: "#^Method League\\\\OpenAPIValidation\\\\Tests\\\\Schema\\\\TypeFormats\\\\StringDateTimeTest\\:\\:dateTimeRedDataProvider\\(\\) should return array\\<string\\> but returns array\\<int, array\\<int, string\\>\\>\\.$#"
			count: 1
			path: tests/Schema/TypeFormats/StringDateTimeTest.php

